      html, body, input, select, textarea
            {
                font-size: 1.05em !important;
            }
            .navbar.navbar-inverse{
                color: white;
            }
            .alignment-top{
            margin-top: 6rem;
            }
            .padding-text{
                padding: 30px;
            }
            h3.font-family{
            font-family: -webkit-pictograph;
            }
            .background{
                background-image: url(http://res.cloudinary.com/dk7akak3h/image/upload/v1491174331/weather_mikj2w.jpg);
        
            }
            .button-custom{
                background-color: black;
                color:white;
            }
            .button-custom:hover{
                background-color:firebrick;
                color:white;
            }
            .button-custom:active{
                background-color: black;
                color:white;
            }
            .navbar.navbar-inverse{
                padding: 1rem;
                
            }
            
            .navbar-custom:hover{
                background-color: black;
                color:white; 
            }
            .navbar-custom:active{
                background-color: black;
                color:white; 
            }
            .navbar-brand.navbar-custom{
                color:white;
            }
            .nav.navbar-custom{
                color:white;
            }
            .navbar-inverse .navbar-nav>li>a {
                color: white;
            }